{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>Yogamin</h2>
<p>
    Sveiki atvykę! Šiame puslapyje pateikiama informacija apie Karolio Ryselio magistro darbą tema „Žmogaus pozų atpažinimo algoritmo ir jį
realizuojančios programinės įrangos sukūrimas, algoritmo tikslumo tyrimas ir
pritaikymas jogos žaidime <strong>Yogamin</strong>“.
</p>
<ul>

</ul>
{% endblocktrans %}
{% endblock %}
